<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Productos</h1>
    <form method="GET" action="/products">
        <label for="query">Buscar por nombre o categoria:</label>
        <input type="text" id="query" name="query" value="{{query}}">
        <label for="limit">Límite:</label>
        <input type="number" id="limit" name="limit" value="{{limit}}">
        <label for="page">Página:</label>
        <input type="number" id="page" name="page" value="{{page}}">
        <label for="sort">Ordenar por precio:</label>
        <select id="sort" name="sort">
            <option value="" {{#unless sort}}selected{{/unless}}>Ninguno</option>
            <option value="asc" {{#if (eq sort 'asc')}}selected{{/if}}>Descendente</option>
            <option value="desc" {{#if (eq sort 'desc')}}selected{{/if}}>Ascendente</option>
        </select>
        <label for="status">Disponibilidad:</label>
        <select id="status" name="status">
            <option value="" {{#unless status}}selected{{/unless}}>Todos</option>
            <option value="true" {{#if (eq status 'true')}}selected{{/if}}>Disponible</option>
            <option value="false" {{#if (eq status 'false')}}selected{{/if}}>No disponible</option>
        </select>
        <button type="submit" class="btn">Buscar</button>
        <a href="/carts/{{@root.cartId}}" class="btn">Ir al carrito</a>
    </form>

    <ul>
        {{#each products}}
            <li>
                <a href="/products/{{this._id}}">{{this.title}}</a>
                <p>{{this.description}}</p>
                <p>Precio: {{this.price}} €</p>
                <p>Disponibilidad: {{#if this.status}}Sí{{else}}No{{/if}}</p>
                <a href="/products/{{this._id}}"><button class="btn">Ir a los detalles del producto</button></a>
                <form  action="/api/carts/{{@root.cartId}}/products" method="POST" class="cart-form">
                    <input type="hidden" name="productId" value="{{this._id}}">
                </form>
                <hr>
                
            </li>
        {{/each}}
    </ul>
    
    <div>
        
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Anterior</a>
        {{/if}}
        <span>Página {{page}} de {{totalPages}}</span>
        {{#if hasNextPage}}
            <a href="{{nextLink}}">Siguiente</a>
        {{/if}}
    </div>

    <script src="/js/cart.js"></script>
</body>
</html>